@import url(https://fonts.google.com/specimen/Alata);
/* @import url(https://fonts.google.com/specimen/Josefin+Sans); */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
body{
    margin: 0%;
}

html{
    margin: 0%;
    padding: 0%;
}


/* ـــــــــــــــــــــــــــــــــــــــــــــــــــــــHeader Stylesـــــــــــــــــــــــــــــــــــــــــــ */

.HederContainer {
  background: url(./images/desktop/image-hero.jpg);
  display: flex;
  flex-direction: column;
}

.Navbar {
  display: flex;
  padding: 3%;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  justify-content: space-between;
}

.Navbar__Link-brand {
  font-size: 30px;
  margin-left: 7%;
  /* font-family: 'Alata'; */
}

.Navbar__Link {
  margin-left: 40px;
  cursor: pointer;
}

.Navbar__Items {
  display: flex; 
}

.Navbar__Items--right {
  margin-right:10%;
}

.Navbar__Link-toggle {
  display: none;
}
@media only screen and (max-width: 1468px) {

    .HederContantTXT{
        width: 45% !important;
    }

    .Navbar__Items--right {

        margin-right:7%;
      }
}
@media only screen and (max-width: 1091px) {

    .HederContantTXT{
        width: 57% !important;
    }
    .Navbar__Items--right {

        margin-right:5%;
      }
}
@media only screen and (max-width: 828px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

  .Navbar__Items {
    display: none;
  }

  .Navbar__Items--right {
    margin-left: 0;
  }

  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  .Navbar__Link-brand{
    margin-left: 2%;
  }

  .HederContantTXT{
    width: 80% !important;
    font-size: 200% !important;
    margin-left: 3% !important;
    margin-top: 30% !important;
    margin-bottom: 30% !important;
}
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* padding-top: 20px; Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgb(0, 0, 0); /* Black w/ opacity */
}

#corr{
    font-size: 30px;
}

.toggeld__Link__Container {
  margin-top: 100px;
}
.toggeld__Link {
  margin-top:50px;
  cursor: pointer;
}
.modal-content {
  background-color: #000000;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #888; */
  width: 80%;
}

.close {
  color: #ffffff;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



.HederContantTXT{
    border: 2px solid  white;
    width: 40%;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 450%;
    color: #fff;
    padding: 2%;
    font-family: 'Josefin Sans';
    /* margin-bottom: 20%; */
}
/* ////////////////////////////////////fady styles//////////////////////////////////////////////// */
/* ////////////////////////////////////fady styles//////////////////////////////////////////////// */
/* ////////////////////////////////////fady styles//////////////////////////////////////////////// */
/* ////////////////////////////////////fady styles//////////////////////////////////////////////// */
/* ////////////////////////////////////fady styles//////////////////////////////////////////////// */
/* ////////////////////////////////////fady styles//////////////////////////////////////////////// */
/* ////////////////////////////////////fady styles//////////////////////////////////////////////// */
/* ////////////////////////////////////fady styles//////////////////////////////////////////////// */
/* ////////////////////////////////////fady styles//////////////////////////////////////////////// */
/* ////////////////////////////////////fady styles//////////////////////////////////////////////// */

.main{
    font-family: 'Josefin Sans';
    padding: 10px;
    margin: 10px;
    display: flex;
    position: relative;
  }
  
  .two{
    width: 100%;
    display: flex;
    /* position: relative; */
    z-index: 3;
  }
  .image{
    margin-left:25%;
    /* width: 10%; */
  }
  /* .image img {
    width: 100%;
  } */
  .white{
   
    padding: 10px;
    margin: 9px;
    float: left;
    position: absolute;
    height: 52%;
    left:42%;
    /* width: 100%; */
    background-color: rgb(255, 255, 255);
    /* top: 32%; */
    top: 40%;
  }
  
  .hContainer{
    width: 50%;
  }
  .head{
    font-family: 'Josefin Sans';
    width: 80%;
    padding-left: 23px;
    padding-top: 16px;
    padding-bottom: 27px;
  }
  .head2{
    font-family: 'Josefin Sans';
    padding-left: 23px;
  }

/* ////////////////////////////////Omar Styles//////////////////////////////////////////////////// */
/* ////////////////////////////////Omar Styles//////////////////////////////////////////////////// */
/* ////////////////////////////////Omar Styles//////////////////////////////////////////////////// */
/* ////////////////////////////////Omar Styles//////////////////////////////////////////////////// */
/* ////////////////////////////////Omar Styles//////////////////////////////////////////////////// */
/* ////////////////////////////////Omar Styles//////////////////////////////////////////////////// */
/* ////////////////////////////////Omar Styles//////////////////////////////////////////////////// */
/* ////////////////////////////////Omar Styles//////////////////////////////////////////////////// */



/* *****************************Omar styles************************************** */



/* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

.container {
    width: 80%;
    height: auto;
    margin: auto;
    background-color: #f6f6f6;
    padding-left: 1%;
    padding-right: 1%;
}

/* ----------------------Creation Section----------------------------- */

.creations {
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
    background-color: #f6f6f6;
}

/* ----------------------Creation Header----------------------------- */

.creations .container .container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creations .container .container-head h1 {
    letter-spacing: 2px;
    font-family: 'Josefin Sans';
    font-weight: 500;
}

.creations .container .container-head button {
    width: 8%;
    min-width: 40px;
    height: 100%;
    min-height: 30px;
    cursor: pointer;
    border: 1px solid black;
    background-color: #f6f6f6;
    letter-spacing: 2px;
    font-family: 'Alata';
    font-weight: 400;
    text-align: center;
}

.creations .container .container-head button:hover {
    background-color: black;
    color: #f6f6f6;
}

/* ----------------------Creation Body----------------------------- */

.creations .container .first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.creations .container .second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.creations .container .creation {
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    cursor: pointer;
    width: 23%;
    background-repeat: no-repeat;
    height: 580px;
    background-size: cover;
    transition: 1s;
}

.creations .container .creation h1 {
    position: absolute;
    color: #f6f6f6;
    font-family: 'Josefin Sans';
    font-weight: 300;
    top: 80%;
    left: 10%;
    width: 60%;
    transition: 1s;
    text-align: left;
    letter-spacing: 2px;
}

.creations .container .creation::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transition: all 0.6s;
    background-color: rgba(253, 253, 253, 0.576);
    z-index: -1;
    transform: scale(0.8);
}

.creations .container .creation:hover::before {
    transform: scale(1);
    z-index: 0;
}

.creations .container .creation:hover>h1 {
    color: #000;
}

.creations .container .creation1 {
    background-image: url(../images/desktop/image-deep-earth.jpg);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../images/desktop/image-deep-earth.jpg);
    background-size: cover;
}

.creations .container .creation2 {
    background-image: url(../images/desktop/image-night-arcade.jpg);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../images/desktop/image-night-arcade.jpg);
    background-size: cover;
}

.creations .container .creation3 {
    background-image: url(../images/desktop/image-soccer-team.jpg);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../images/desktop/image-soccer-team.jpg);
    background-size: cover;
}

.creations .container .creation4 {
    background-image: url(../images/desktop/image-grid.jpg);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../images/desktop/image-grid.jpg);
    background-size: cover;
}

.creations .container .creation5 {
    background-image: url(../images/desktop/image-from-above.jpg);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../images/desktop/image-from-above.jpg);
    background-size: cover;
}

.creations .container .creation6 {
    background-image: url(../images/desktop/image-pocket-borealis.jpg);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../images/desktop/image-pocket-borealis.jpg);
    background-size: cover;
}

.creations .container .creation7 {
    background-image: url(../images/desktop/image-curiosity.jpg);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../images/desktop/image-curiosity.jpg);
    background-size: cover;
}

.creations .container .creation8 {
    background-image: url(../images/desktop/image-fisheye.jpg);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../images/desktop/image-fisheye.jpg);
    background-size: cover;
}


/* ///////////////////////////Foooter//////////////////////////////////////////// */
/* ///////////////////////////Foooter//////////////////////////////////////////// */
/* ///////////////////////////Foooter//////////////////////////////////////////// */
/* ///////////////////////////Foooter//////////////////////////////////////////// */
/* ///////////////////////////Foooter//////////////////////////////////////////// */
/* ///////////////////////////Foooter//////////////////////////////////////////// */
/* ///////////////////////////Foooter//////////////////////////////////////////// */
/* ///////////////////////////Foooter//////////////////////////////////////////// */
/* ///////////////////////////Foooter//////////////////////////////////////////// */


.h22:hover {
  text-decoration:underline;
  /* color: inherit; */
}


.ct-footer {
  background-color: rgb(0, 0, 0);
  bottom: 0px;
  position: relative;
}

.ct-footer-list {
  padding: 50px 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.ct-footer-list > li .ct-footer-list-header {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ffffff;
  font-size: 20px;
}
.ct-footer-list > li ul {
  list-style: none;
  padding-left: 0;
}
.ct-footer-list >  h2{
    font-family: sans-serif;
  color: #fff;
}


.ct-footer-post {
width: 100%;
}

.ct-footer-post .inner-right {
  padding: 5px 0;
}


.ct-footer-post p {
  color: hsl(0, 0%, 41%);
}

 .ct-socials {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
  padding: 20px 0;
}
.ct-footer-meta .ct-socials li {
  padding: 0 3px;
}

.ct-footer-list1{
    padding: 50px 0;
    list-style: none;
    padding-left: 0;
    width: 50%;
    align-items: center;
}
.ct-footer--with-button {
  padding-top: 150px;
}

#iconss{
    align-self: center;
}

.footerHeaderTxt{
    color: #fff;
    font-family: sans-serif;
}

#footertxticon{
    display: flex;
    justify-content: space-around;
}




/* Media Queries */



 @media (max-width:827px) {

    .image{
        margin-left:0%;
        /* width: 10%; */
      }

      .white{
        width: 40%;
      }

  .ct-footer-list  {

    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* vertical-align: top;  */
  }
  .ct-footer-list1{
    width: 100%;
  }

  .haaa{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ct-socials{
    width: 50%;

  }

  #footertxticon{
    display: block;
}

.footerHeaderTxt{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ct-footer-post {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }


    .creations .container .first-row {
        flex-direction: column;
    }

    .creations .container .second-row {
        flex-direction: column;
    }

    .creations .container .container-head {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .creations .container .creation {
        position: relative;
        cursor: pointer;
        width: 100%;
        background-repeat: no-repeat;
        height: 150px;
        background-size: cover;
        transition: 1s;
    }

    .creations .container .creation h1 {
        position: absolute;
        color: #f6f6f6;
        font-family: 'Josefin Sans';
        font-weight: 300;
        top: 35%;
        left: 5%;
        width: 50%;
        transition: 1s;
        text-align: left;
    }

    .container {
        width: 100%;
        height: auto;
        margin: auto;
        background-color: #f6f6f6;
        padding-left: 1%;
        padding-right: 1%;
    }

    .creations .container .container-head button {
        display: none;
    }

    .creations .container .creation1 {
        background-image: url(./images/mobile/image-deep-earth.jpg);
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-deep-earth.jpg);
        background-size: cover;
    }

    .creations .container .creation2 {
        background-image: url(./images/mobile/image-night-arcade.jpg);
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-night-arcade.jpg);
        background-size: cover;
    }

    .creations .container .creation3 {
        background-image: url(./images/mobile/image-soccer-team.jpg);
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-soccer-team.jpg);
        background-size: cover;
    }

    .creations .container .creation4 {
        background-image: url(./images/mobile/image-grid.jpg);
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-grid.jpg);
        background-size: cover;
    }

    .creations .container .creation5 {
        background-image: url(./images/mobile/image-from-above.jpg);
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-from-above.jpg);
        background-size: cover;
    }

    .creations .container .creation6 {
        background-image: url(./images/mobile/image-pocket-borealis.jpg);
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-pocket-borealis.jpg);
        background-size: cover;
    }

    .creations .container .creation7 {
        background-image: url(./images/mobile/image-curiosity.jpg);
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-curiosity.jpg);
        background-size: cover;
    }

    .creations .container .creation8 {
        background-image: url(./images/mobile/image-fisheye.jpg);
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-fisheye.jpg);
        background-size: cover;
    }

}






@media (max-width:827px) {

    .ct-footer-list  {
  
      width: 100%;
      flex-direction: column;
      align-items: center;
      align-content: center;
      /* vertical-align: top;  */
    }
    .ct-footer-list1{
      width: 100%;
    }
  
    .haaa{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .ct-socials{
      width: 50%;
  
    }
  
    #footertxticon{
      display: block;
  }
  
  .footerHeaderTxt{
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .ct-footer-post {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      }
  
  
      .creations .container .first-row {
          flex-direction: column;
      }
  
      .creations .container .second-row {
          flex-direction: column;
      }
  
      .creations .container .container-head {
          display: flex;
          justify-content: center;
          align-items: center;
      }
  
      .creations .container .creation {
          position: relative;
          cursor: pointer;
          width: 100%;
          background-repeat: no-repeat;
          height: 150px;
          background-size: cover;
          transition: 1s;
      }
  
      .creations .container .creation h1 {
          position: absolute;
          color: #f6f6f6;
          font-family: 'Josefin Sans';
          font-weight: 300;
          top: 35%;
          left: 5%;
          width: 50%;
          transition: 1s;
          text-align: left;
      }
  
      .container {
          width: 100%;
          height: auto;
          margin: auto;
          background-color: #f6f6f6;
          padding-left: 1%;
          padding-right: 1%;
      }
  
      .creations .container .container-head button {
          display: none;
      }
  
      .creations .container .creation1 {
          background-image: url(./images/mobile/image-deep-earth.jpg);
          background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-deep-earth.jpg);
          background-size: cover;
      }
  
      .creations .container .creation2 {
          background-image: url(./images/mobile/image-night-arcade.jpg);
          background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-night-arcade.jpg);
          background-size: cover;
      }
  
      .creations .container .creation3 {
          background-image: url(./images/mobile/image-soccer-team.jpg);
          background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-soccer-team.jpg);
          background-size: cover;
      }
  
      .creations .container .creation4 {
          background-image: url(./images/mobile/image-grid.jpg);
          background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-grid.jpg);
          background-size: cover;
      }
  
      .creations .container .creation5 {
          background-image: url(./images/mobile/image-from-above.jpg);
          background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-from-above.jpg);
          background-size: cover;
      }
  
      .creations .container .creation6 {
          background-image: url(./images/mobile/image-pocket-borealis.jpg);
          background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-pocket-borealis.jpg);
          background-size: cover;
      }
  
      .creations .container .creation7 {
          background-image: url(./images/mobile/image-curiosity.jpg);
          background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-curiosity.jpg);
          background-size: cover;
      }
  
      .creations .container .creation8 {
          background-image: url(./images/mobile/image-fisheye.jpg);
          background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(./images/mobile/image-fisheye.jpg);
          background-size: cover;
      }
  
  }


  /* ////////////////////////////////////Fady Styles Media //////////////////////////////////////////////////////////////////////// */



  @media  (max-width: 550px) {
    .two{
      display: flex;
      flex-direction: column;
      width: 100%;
      display: flex;
      z-index: 3;
    }
    .image{
      width: 100%;
    }
    .image img {
      width: 100%;
    }

    

    .white{   
        display: flex;  
    position: relative;
    font-family: 'Josefin Sans';
    width: 100%;
    padding: 0px;
    /* position: absolute; */
    height: 35%;
    left: -1%;
    background-color: white;
    top: 36%;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    }

    .hContainer{
        width: 80%;
    }
    
    .head{
      font-family: 'Josefin Sans';
      width: 80%;
      padding-bottom: 27px;
      font-size: 13px;
    }
    .head2{
      font-family: 'Josefin Sans';
    }
  }
  @media  (min-width: 551px) and (max-width:992px) {
    .two{
      display: flex;
      flex-direction: column;
      width: 100%;
      display: flex;
      z-index: 3;
    }


    .image{
      /* width: 100%; */
      margin-left: 0%;
    }
    .image img {
      width: 100%;
    }
    .white{
     
      display: contents;
      font-family: 'Josefin Sans';
      width: 70%;
      /* position: absolute; */
      /* display: flex; */
      padding: 0px;
      /* margin: 59px; */
      float: left;
      position: absolute;
      height: 35%;
      left: 7%;
      /* width: 38%; */
      background-color: white;
      /* top: 32%; */
      top: 44vh;
    }
    
    .head{
      font-family: 'Josefin Sans';
      width: 80%;
      padding-bottom: 27px;
    }
    .head2{
      font-family: 'Josefin Sans';
    }
     
  }